<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="pet-clinic-dao"/>
    <include resource="logback/base.xml"/>

    <logger name="com.samuel.sniffers.pet_clinic.dao" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <!-- Database specific logging -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>