<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="pet-clinic-utils"/>
    <include resource="logback/base.xml"/>

    <logger name="com.samuel.sniffers.pet_clinic.utils" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>